{
  "extends": ["eslint:recommended", "airbnb", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-plusplus": 0,
    "no-unused-vars": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "react/no-unescaped-entities": 0,
    "react/no-unused-state": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "import/prefer-default-export": 0
  }
}
