.forecast {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.forecast__button {
  align-self: center;
  background-color: rgba(146, 146, 146, 0.4);
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  margin-bottom: 7px;
  width: 150px;
}

.forecast__display {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .forecast__display {
    flex-direction: column;
  }
}
