.loader {
  animation: coloredspin 7s linear infinite;
  color: rgba(146, 146, 146, 0.8);
  display: block;
  font-size: 100px;
  margin: 50px auto;
  text-align: center;
}

@keyframes coloredspin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.5);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}
